/* Normalize 2024 A modern alternative to CSS resets */

:root {
	--black: #393939;
	--main-font: Helvetica, Arial, sans-serif;
	--secondary-font: Verdana;
}

@media (prefers-color-scheme: dark) {
	:root {
		--negro: #ececec;
	}
}

* {
	box-sizing: border-box;
	position: relative;
	min-width: 0;
}

body {
	min-height: 100dvh;
	font-family: var(--main-font);
	color: var(--negro);
	font-smooth: always;
	min-height: 100vh;
	font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

p:has(a) {
	display: inline;
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	width: 100%;
	display: block;
	fill: currentColor;
}
